*.iml
.gradle
local.properties
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
keystore.properties
keystore.jks
*.swp
playstore_access.json
Gemfile.lock
maven_signing.txt
secretkeyringfile.txt
xcuserdata
.kotlin
*.gpg